---
http_interactions:
- request:
    method: post
    uri: https://pal-test.adyen.com/pal/servlet/Payment/v30/authorise
    body:
      encoding: UTF-8
      string: '{"reference":"13f5edb7-bd10-463a-9672-4fe20abd28ed","amount":{"value":456,"currency":"EUR"},"merchantAccount":"OpenSourceCOM","shopperReference":"john","shopperStatement":"","selectedRecurringDetailReference":"LATEST","selectedBrand":"","recurring":{"contract":"RECURRING"},"shopperInteraction":"ContAuth","recurringProcessingModel":"CardOnFile"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic d3NfNTc0Mjc3QENvbXBhbnkuT3BlblNvdXJjZTpRKSU2SXBRZFppcVU1dGIzQTFjdzQ3ZT4l
  response:
    status:
      code: 200
      message: OK
    headers:
      Pspreference:
      - '8825312278673617'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pspReference":"8825312278673617","resultCode":"Authorised","authCode":"65515"}'
  recorded_at: Tue, 10 Jul 2018 13:04:27 GMT
recorded_with: VCR 4.0.0
