---
http_interactions:
- request:
    method: post
    uri: https://pal-test.adyen.com/pal/servlet/Payout/v30/confirmThirdParty
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"SeatrisBaseFee001","originalReference":"8515324297411387"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cmV2aWV3UGF5b3V0XzMxNDMwMEBDb21wYW55LlNlYXRyaXM6NyZlRltSQVRJZElZLWRFSEg+eCVeSHE0Uw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Pspreference:
      - '8815324304179602'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pspReference":"8815324304179602","response":"[payout-confirm-received]"}'
  recorded_at: Tue, 24 Jul 2018 11:06:57 GMT
recorded_with: VCR 4.0.0
