---
http_interactions:
- request:
    method: post
    uri: https://pal-test.adyen.com/pal/servlet/Recurring/v30/listRecurringDetails
    body:
      encoding: UTF-8
      string: '{"shopperReference":"john","recurring":{"contract":"RECURRING"},"merchantAccount":"OpenSourceCOM"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic d3NfNTc0Mjc3QENvbXBhbnkuT3BlblNvdXJjZTpRKSU2SXBRZFppcVU1dGIzQTFjdzQ3ZT4l
  response:
    status:
      code: 200
      message: OK
    headers:
      Pspreference:
      - '8515312278654059'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"creationDate":"2015-12-23T11:15:18+01:00","details":[{"RecurringDetail":{"additionalData":{"cardBin":"510008"},"alias":"B713642431666044","aliasType":"Default","card":{"expiryMonth":"8","expiryYear":"2018","holderName":"John
        Doe","number":"3332"},"contractTypes":["RECURRING"],"creationDate":"2015-12-23T11:15:18+01:00","firstPspReference":"7914508657186147","paymentMethodVariant":"bijcard","recurringDetailReference":"8314508657181050","variant":"bijcard"}}],"lastKnownShopperEmail":"john@doe.com","shopperReference":"john"}'
  recorded_at: Tue, 10 Jul 2018 13:04:25 GMT
recorded_with: VCR 4.0.0
